= render "header"
.line2
  .line2__box
    = link_to root_path, class: "line2__box__first" do
      FURIMA
      = icon('fas', 'angle-right') 
    = link_to "#" , class: "line2__box__first" do
      = @category.name
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__first" do
      -# = @category_children.name
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__first" do
      -# = @category_grandchildren.name
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__final" do
      = @item.name
.top
  = render partial: 'deta_edit', locals: { item: @items, order: @orders }


